<!-- Guard against missing customer (defensive programming) -->
<div *ngIf="customer">

  <!--Diagnostic: {{ customer | json }}-->

  <h2><button (click)="left()"><</button>
  {{customer.name}}
  <button (click)="right()">></button></h2>

   <p><i>
    {{customer.name}} is at {{customer.address.street}} in {{customer.address.city}}
    in {{customer.address.state}} in the {{customer.address.region}} region.
  </i></p>

  <fieldset>
    <label>
      Name:
      <input [(ngModel)]="customer.name" placeholder="Customer name">
    </label>
  </fieldset>

  <div>
    <address [address]="customer.address"></address>
  </div>  

</div>
